.controller {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-bottom: 24px;

  .row {
    display: flex;

    &.bold {
      border-bottom: 5px solid white;
    }

    .col {
      width: 34px;
      height: 34px; 
      text-align: center;
      border: 1px solid white;
      &.bold {
        border-right: 5px solid white;
      }
    }
  }
}

.showBlock {
  display: flex;
  flex-wrap: wrap;
  width: 1450px;
  padding: 30px;
}